<!DOCTYPE html>
<html>
  <head>
    <title>Seat Check</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/555ec7bf31.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('seat-check.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
